<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Welcome to BookBnB</h1>
      <p class="lead text-muted">You can see all available flats for your next holiday. Enjoy :)</p>
      <%# <p> %>
        <%# <a href="#" class="btn btn-primary my-2">Main call to action</a> %>
        <%# <a href="#" class="btn btn-secondary my-2">Secondary action</a> %>
      <%# </p> %>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @flats.each do |flat| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://source.unsplash.com/random/400x400" class="img-fluid"/>
            <div class="card-body">
              <p class="card-text">Address: <%= flat.address_line_1 %>, <%= flat.city %></p>
              <p class="card-text">Postcode: <%= flat.postcode %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <%# <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> %>
                </div>
                <small class="">Price: £<%= flat.price %></small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</main>