<h1>MAP</h1>

<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @flats.each do |flat| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://source.unsplash.com/random/400x400/?rooms" class="img-fluid"/>
            <div class="card-body">
              <p class="card-text"><%= flat.city %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <%= link_to flat_path(flat) do %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <% end %>
                  <%# <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> %>
                </div>
                <small class="h4 fw-bold m-0">£<%= flat.price %></small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</main>
