<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/tleCJiDOri0/1600x900);">
  <div class="container">
    <h1 class="test">Welcome to <strong>BookBnB</strong></h1>
    <p>Looking for your next escape. Search and find your next destination.</p>
    <a class="btn btn-primary btn-lg" href="/flats" role="button" aria-pressed="true">Book your stay</a>
  </div>
</div>

<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @flats.each do |flat| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= cl_image_tag flat.photo.key, class: "img-fluid" %>
            <div class="card-body">
              <p class="card-text"><%= flat.city %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <%= link_to flat_path(flat) do %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <% end %>
                  <%# <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> %>
                </div>
                <small class="h4 fw-bold m-0">£<%= flat.price %></small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</main>
